!!!
%html
	%head
		%title Nice State Engine
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		.navbar.navbar-fixed-top
			.navbar-inner
				.container
					%ul.nav
						%li
							= link_to "/" do
								%i.icon-home.icon-white							
								Overview
						%li= link_to "Basic Example", a_basic_index_path
						%li= link_to "State Transitions", "#"
						%li= link_to "RESTful Resource", books_path
		.container
			\#{content_for?(:content) ? yield(:content) : yield}

			%footer
				.row
					.span2
						= image_tag "bootstrap.png"
				.row
					.span2
						%p
							This page was built with
							= link_to "Bootstrap.", "http://twitter.github.com/bootstrap/index.html"

