- content_for :content do

  .subnav.subnav-fixed
    %ul.nav.nav-pills
      %li{:class => current_page?(a_basic_index_path) ? "active" : ""}
        = link_to "State A", a_basic_index_path, :remote => :true
      %li{:class => current_page?(b_basic_index_path) ? "active" : ""}
        = link_to "State B", b_basic_index_path, :remote => :true
      %li{:class => current_page?(c_basic_index_path) ? "active" : ""}
        = link_to "State C", c_basic_index_path, :remote => :true

  %h1 This is basic demonstration of State Changes

  .hero-unit.span5
    %h1{"data-state" => "get_basic_a"} State A
    %h1{"data-state" => "get_basic_b"} State B
    %h1{"data-state" => "get_basic_c"} State C

    %p{"data-state" => "get_basic_a get_basic_b", "data-state-update" => :yes}
      = yield(:container1)

= render :template => 'layouts/application'